<style type="text/css">
  .image {
    width: 100px;
    height: 100px;
    border: #D9DBD9 1px solid;
  }

  .text-content {
    float: right;
    width: 600px;
    color: #4B4C4B;
  }

  .contact-heading {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .contact-type {
    padding-top: 30px;
    width: 800px;
    margin: auto;
  }
</style>
<div class="title-bar">Contact</div>

<div class="contact-type">
  <div class="text-content">
    <div class="contact-heading">Vendor</div>
    If you are a vendor and would like to list your eco friendly products on our website, send us a note to <strong>vendor@theecofind.com </strong>
  </div>
  <div class="image">
    <img src="images/vendors.jpg", width="100" height="100" />
  </div>
</div>

<div class="contact-type">
  <div class="text-content">
    <div class="contact-heading">Questions</div>
    If you have any questions, feedback or if you just want to just say hello, please send us an email to <strong>team@theecofind.com</strong>
  </div>
  <div class="image">
    <img src="images/hello.jpg", width="100" height="100" />
  </div>
</div>
